# Build outputs
[B|b]in
[O|o]bj
build/*

# Managed external libs
packages
paket-files

# Test & temporary results
*.test-cache
tests/CommandLine/test-results/*
tests/CommandLine.Tests/test-results/*
TestResult.xml

.fake
.paket/paket.exe
.vs/
[R|r]elease/** 
*.cache
*.csproj.user
*.DotSettings.user
*.DS_Store
*.lock.json
*.nuget.props
*.nuget.targets
*.nupkg
*.old
*.pidb
*.suo
*.userprefs
*.xproj.user
*~
\#*\#
artifacts/*
docs/output/*
StyleCop.Cache
